a {
    color: #000;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

h2,h1 {
    font-family: 'Lily Script One', cursive;
}

#savedroutes,#logout,#savedroutes:hover,#logout:hover {
    color: #fff;
    text-decoration: none;
}

#green-buttons {
    text-align: left;
}

#map {
    position: relative;
    left: 80px;
}

#first {
    position: relative;
    left: 8px;
}

#content {
    position: relative;
    top: 20px;
}

#test {
    display: block;
}

#route-find {
    margin-top: 10px;
}

#two {
    position: relative;
    left: 2px;
    width: 355px;
    padding: 5px;
    margin: 0;
    background-color: #fff;
    display: block;
}

#leftside {
    position: relative;
    left: 20px;
    font-size: 20px;
    top: 23px;
    margin: 0;
    font-weight: 700;
    text-rendering: optimizelegibility;
    color: #fff;
    font-family: 'Lily Script One', cursive;
}

/*
.container-fluid {
	position: relative;
	top: 20px;
}
*/
.logout-saved {
    position: relative;
    left: 20px;
    font-size: 20px;
    top: 23px;
    margin: 0;
    font-weight: 700;
    text-rendering: optimizelegibility;
    color: #fff;
    font-family: 'Lily Script One', cursive;
    font-size: 2em;
    height: 25px;
    margin: 0 auto;
    text-decoration: none;
    margin-right: 15px;
}

#header {
    position: relative;
    top: 12px;
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    text-rendering: optimizelegibility;
    color: #fff;
    font-family: 'Lily Script One', cursive;
}

#center-this-navbar {
    height: 50px;
    display: table;
    margin: 0 auto;
}

#logout {
    cursor: pointer;
}

#savedroutes {
    cursor: pointer;
}

#second {
    display: none;
}

#togglefeatures {
    float: right;
    text-align: right;
}

#toggle-label {
    font-weight: 700;
    font-size: 1.25em;
}

.toggle-button {
    display: inline;
    margin-left: 45px;
}

.toggle-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#googleMap img {
    max-width: inherit;
}

.test {
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.item {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

#bottom-buttons {
    position: relative;
    top: -25px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.go-back {
    width: 20px;
    height: 20px;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#first {
    overflow: hidden;
    background: url(texture-noise-beige-blur-lt.gif);
}

#second {
    overflow: hidden;
    background: url(texture-noise-beige-blur-lt.gif);
}