h2, h1, h3 {
font-family: 'Lily Script One', cursive;
}

#first {
	position: relative;
	left: 8px;
}

#content {
	position: relative;
	top: 20px;
}

#test {
	display: block;
}

#route-find {
	margin-top: 10px;
}

#two {
	position: relative;
	left: 2px;
	width: 355px;
	padding: 5px;
	margin: 0px;
	background-color: #ffffff;
	display: block;
}


#leftside {
	position: relative;
	left: 20px;
	font-size: 20px;
	top: 23px;
	margin: 0;
	font-weight: bold;
	text-rendering: optimizelegibility;
	color: #ffffff;
	font-family: 'Lily Script One', cursive;	
}

/*
.container-fluid {
	position: relative;
	top: 20px;
}
*/

#header {
	position: relative;
	top: 12px;
	font-size: 40px;
	margin: 0;
	font-weight: bold;
	text-rendering: optimizelegibility;
	color: #ffffff;
	font-family: 'Lily Script One', cursive;
}

#center-this-navbar {
	height: 50px;
	display:table; margin:0 auto;
}

#logout {
	cursor: pointer;
}

#savedroutes {
	cursor: pointer;
}

#second {
	display: none;
}