#container {
	border:1px solid black;
	width: 400px;
	margin:0px auto;
}



#routes {
	margin-left: 15%;
  margin-right: 15%;
}

#routes button {
	font-size: 1.25em;
	line-height:150%;
	cursor: pointer;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: baseline;
}

#sort-by-label {
	margin-left: 17%;
}

table.test td {
    /* background-color: lime; */
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
	white-space: nowrap;	/* prevent weird resizing after slider move*/
}

table.test {
  border-collapse: separate;
  border-spacing: 1px;
  *border-collapse: expression('separate', cellSpacing = '10px');
	margin-left: auto;
	margin-right: auto;
}

.criteria-slider {
	width: 75px; !important;
	float: right;
}
